.profile {
  width: 350px;
  /* height: 452px; */
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;

  background-color: var(--color-white);
}

.description {
  padding: 15px;
  text-align: center;
}

.avatar {
  display: inline-block;
  padding: 10px;
  width: 150px;
  height: 150px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: var(--color-stats);
}

.name {
  margin-top: 30px;
  font-size: 30px;
  font-weight: 700;
}

.tag {
  margin-top: 15px;
  font-size: 20px;

  color: var(--color-primary-text);
  opacity: 0.5;
}

.location {
  margin-top: 15px;
  font-size: 16px;

  color: var(--color-primary-text);
  opacity: 0.5;
}

.stats {
  margin-top: 30px;
  padding: 15px;
  height: 100px;

  background-color: var(--color-stats);

  display: flex;
  justify-content: center;
  /* gap: 30px; */
}

.stats li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  flex-basis: calc(100% / 3);

  border: 1px solid transparent;
}

.label {
  font-size: 20px;

  color: var(--color-primary-text);
  opacity: 0.5;
}

.quantity {
  margin-top: 10px;
  font-size: 24px;
  font-weight: 700;
}
